<include file="./Apps/Home/View/Public/head.html" />
<!-- 轮播图开始 -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <volist name="bigPics" id="vo" offset="1">
                <li data-target="#carousel-example-generic" data-slide-to="{$i}"></li>
            </volist>
        </ol>
<!-- Wrapper for slides -->
        <div class="carousel-inner img_box" role="listbox">
            <div class="item active">
                <img src="__PUBLIC__/upload/{$bigPics[0]['logo']}" alt="...">
                <div class="carousel-caption"></div>
            </div>
            <volist name="bigPics" id="vo" offset="1">
                <div class="item">
                    <img src="__PUBLIC__/upload/{$vo['logo']}" alt="...">
                    <div class="carousel-caption"></div>
                </div>
            </volist>
        </div>
<!-- 轮播图左右图标 -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!-- 轮播图结束 -->
<!-- 主体开始 -->
    <div class="body_content">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box notice">
                <div class="title">
                    <h3>
                        {$noticeClass['name']}
                    </h3>
                    <a class="more" href="{:U($noticeClass['index_template']['url'], ['id'=>$noticeClass['class_id']])}">更多</a>
                </div>
                <div class="content_box" id="callboard">
                    <ul>
                        <?php if(!empty($noticeLists)){ ?>
                            <?php foreach($noticeLists as $noticeList):?>
                                <li>
                                    <div class="data">
                                        <i class="date"><?php echo substr($noticeList['addtime'] , 8) ;?></i>
                                        <e class="month"><?php echo substr($noticeList['addtime'] , 0 ,7) ;?></e>
                                    </div>
                                    <a href="#">{$noticeList['title']}</a>
                                </li>
                            <?php endforeach;?>
                        <?php }else{
                                echo '没有数据';
                            }
                        ?>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box introduce">
                <div class="title">
                    <h3>中心简介</h3>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="content_box">
                    <a href="#">
                        <img src="__PUBLIC__/com_home/images/2.jpg">
                        <h2>计算机公共基础实验中心</h2>
                        <p class="desc">计算机学院于2001年建设实验室，实验中心现有功能完善的软、硬件和网络、物联网实训平台。已建成的有计算机网络实验室、综合布线实训室、图形图像处理实验室、无线传感网络实验室、网络工程与测试实验室、软件工程实验室、硬件综合实验室、智能交通实验实训室、计算机组装与维护实训室、软件综合实验室（二）、软件综合实验室（一）。实验中心作为全校计算机专业实验教学平台，直接服务于计算机科学与技术、数字媒体技术、网络工程、物联网、软件工程专业，计算机科学与 技术专业2011年获批“校级特色专业”，2012年计算机软件与理论获批“校级重点建设学科”。每年约有几百至几千名计算机类学生在中心进行学科基础课、学科专业基础课、专业技能、专业综合、跨专业和创新研究等实验（实训）。同中心也为学生的毕业论文、教师与学生的科研提供了良好的条件。</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 box feedback">
                <div class="title">
                    <h3>教学反馈</h3>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="content_box">
                    <ul>
                       <li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
						<li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
						<li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
						<li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
						<li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
						<li>
                            <span></span>
                            <a href="#">
                                <h4>关于推进实验实训场所文化氛围建设工作的通知</h4>
                                <p>关于推进实验实训场所文化氛围建设工作的通知关于推进实验实训场所文化氛围建设工作的通知</p>
                            </a>
                            <div class="time">2017-08-04</div>
                        </li>
                    </ul>
                </div>
                <div class="item"><a href="#" data-toggle="modal" data-target="#myModal" >我要反馈</a></div>
            </div>
        </div>
        <!-- 模态框 -->
        <div role="dialog" class="modal fade bs-example-sm" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <h4 class="modal-title" style="font-weight: 600">在线反馈</h4>
                    </div>  
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="inputTitle" class="label-text">反馈标题</label>
                                <input type="text" class="form-control" id="inputTitle" placeholder="请输入标题">
                            </div>
                            <div class="form-group">
                                <label for="inputContent">反馈内容</label>
                                <textarea style="resize:none;" class="form-control" id="inputContent" placeholder="请输反馈内容..." rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="inputTitle" class="label-text">邮箱地址</label>
                                <input type="text" class="form-control"  placeholder="请输入标题">
                                <label for="inputEmail" class="label-text">你的邮箱</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="请输入邮箱">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                        <button class="btn btn-success btn-sm"  data-dismiss="modal">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 实验室一览 -->
    <div class="show_content">
        <div class="container">
            <div class="show_box">
                <div class="title">
                    <h3>实验室一览</h3>
                    <a href="#" class="more">更多</a>
                </div>
                <div class="show_box_pic">
                    <ul>
                        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="__PUBLIC__/com_home/images/3.jpg">
                                <div class="pic_title">
                                    <div class="mask"></div>
                                    <p>实验室一</p>
                                </div> 
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="__PUBLIC__/com_home/images/3.jpg">
                                <div class="pic_title">
                                    <div class="mask"></div>
                                    <p>实验室二</p>
                                </div> 
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="__PUBLIC__/com_home/images/3.jpg">
                                <div class="pic_title">
                                    <div class="mask"></div>
                                    <p>实验室三</p>
                                </div> 
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="__PUBLIC__/com_home/images/3.jpg">
                                <div class="pic_title">
                                    <div class="mask"></div>
                                    <p>实验室四</p>
                                </div> 
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="__PUBLIC__/com_home/images/3.jpg">
                                <div class="pic_title">
                                    <div class="mask"></div>
                                    <p>实验室五</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- footer -->
<include file="./Apps/Home/View/Public/footer.html" />
<!-- 通知公告js -->
    <script type="text/javascript"> 
    (function (win){ 
        var callboarTimer; 
        var callboard = $('#callboard'); 
        var callboardUl = callboard.find('ul'); 
        var callboardLi = callboard.find('li'); 
        var liLen = callboard.find('li').length; 
        var initHeight = callboardLi.first().outerHeight(true); 
    win.autoAnimation = function (){ 
        if (liLen <= 1) return; 
        var self = arguments.callee; 
        var callboardLiFirst = callboard.find('li').first(); 
        callboardLiFirst.animate({ 
            marginTop:-initHeight 
            }, 500, function (){ 
                clearTimeout(callboarTimer);    
                callboardLiFirst.appendTo(callboardUl).css({marginTop:0}); 
                callboarTimer = setTimeout(self, 3000); 
        }); 
    } 
    callboard.mouseenter( 
        function (){ 
            clearTimeout(callboarTimer); 
        }).mouseleave(function (){ 
        callboarTimer = setTimeout(win.autoAnimation, 3000); 
    }); 
    }(window)); 
    setTimeout(window.autoAnimation, 3000); 
</script>