<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- 包含meta相关信息 -->
<include file="./Apps/Admin/View/Public/meta.html" />
<!-- 包含CSS样式和字体 -->
<include file="./Apps/Admin/View/Public/link.html" />
<!-- 包含加载页面文件 -->
<include file="./Apps/Admin/View/Public/loading.html" />
</head>

<body>
	<!-- 包含头部文件 -->
	<include file="./Apps/Admin/View/Public/header.html" />
	<div id="wrapper">
		<!-- 包含导航栏 -->
		<include file="./Apps/Admin/View/Public/nav.html" />

		<!--Body content-->
		<div id="content" class="clearfix">
			<div class="contentwrapper">
				<!--Content wrapper-->

				<div class="heading">
				
					<!-- 包含搜索框 -->
					<include file="./Apps/Admin/View/Public/search.html" />
					<!-- 面包屑轨迹 -->
					<include file="./Apps/Admin/View/Public/mbx.html" />

				</div>
				<!-- End .heading-->
				<div class="row-fluid">

					<div class="span12">

						<div class="box">

							<div class="title">

								<h4>
									<span>添加模板</span>
								</h4>

							</div>
							<div class="content">
								<form class="form-horizontal" action="__APP__/Admin/Template/add" method="post" onsubmit="return checkTemplateForm();">

									<div class="form-row row-fluid">
										<div class="span12">
											<div class="row-fluid">
												<label class="form-label span3" for="normal">名称</label> <input
													class="span5" id="template-name" type="text" name="name"/>
											</div>
										</div>
									</div>
									<div class="form-row row-fluid">
										<div class="span12">
											<div class="row-fluid">

												<label class="form-label span4" for="checkboxes">类型</label>

												<div class="span8 controls">

													<div class="left marginT5">
														<input type="radio" name="type" id="optionsRadios1"
															value="index" checked="checked" /> index
													</div>
													<div class="left marginT5">
														<input type="radio" name="type" id="optionsRadios2"
															value="content" /> content
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="form-row row-fluid">
										<div class="span12">
											<div class="row-fluid">
												<label class="form-label span3" for="normal">URL</label> <input
													class="span5" id="template-url" type="text" name="url" />
											</div>
										</div>
									</div>

									<div class="form-actions">
										<span class="span3"></span>
										<button type="submit" class="btn btn-info">保存</button>
										<a href="javascript:cancelConfirm('__APP__/Admin/Template/index','确定放弃当前编辑内容并返回到上一层页面吗????')" class="btn btn-danger">放弃</a>
										</div>
								</form>

							</div>

						</div>
						<!-- End .box -->

					</div>
					<!-- End .span6 -->
				</div>
			</div>
			<!-- End contentwrapper -->
		</div>
		<!-- End #content -->

	</div>
	<!-- End #wrapper -->


	<!-- 包含JavaScript 文件 -->
	<include file="./Apps/Admin/View/Public/script.html" />


</body>
</html>
