<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/com_home/css/list.css">
<div class="banner"></div>
<div class="center">
<!-- 左边导航开始 -->
        <div class="c-left">
            <div class="second-title">
                <h2>教学反馈</h2>
            </div>
            <ul>
                <li>教学反馈</li>
            </ul>
        </div>
<!-- 左边导航结束 -->
<!-- 右边列表开始 -->
        <div class="c-right">
            <div class="c-r-head">
                <h2>教学反馈</h2>
                    <span><a href="{:U('Home/Index/index')}">首页></a><p>教学反馈</p></span>
            </div>
            <div class="c-r-list">
                <div class="container" style="width: 70%">
                <form class="form-horizontal" method="post" action="__APP__/Home/Content/addFeedback">
                    <div class="form-group">
                        <label for="inputTitle" class="label-text">反馈标题</label>
                        <input type="text" name="title" class="form-control" id="inputTitle" placeholder="请输入反馈标题">
                    </div>
                    <div class="form-group">
                        <label for="inputContent">反馈内容</label>
                        <textarea name="body" class="form-control" style="resize:none;" id="inputContent" placeholder="请输反馈内容..." rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="label-text">你的邮箱</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="请输入邮箱">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-green feedback-submit" data-loading-text="提交中...">提交反馈</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
<!-- 底部开始 -->
<include file="./Apps/Home/View/Public/footer.html" />