<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/com_home/css/article.css">
<!-- 头部结束 -->
<div class="banner"></div>
<div class="center">
    <div class="c-nav">
        <span><a href="{:U('Home/Index/index')}">首页></a>
              <?php if(empty($fatherClass)):?>
                    <a href="{:U($class['index_template']['url'], ['id'=>$class['class_id']])}">{$class['name']}</a>>正文
              <?php else:?>
                    <a href="{:U($fatherClass['index_template']['url'], ['id'=>$fatherClass['class_id']])}">{$fatherClass['name']}></a>
                    <a href="{:U($class['index_template']['url'], ['id'=>$class['class_id']])}">{$class['name']}</a>>正文
              <?php endif;?>
        </span>
    </div>
    <div class="c-title">
        <h1>{$content['title']}</h1>
        <div class="c-title-message">
            <span>{$content['addtime']}</span>
            <span>浏览量:{$content['views']}</span>
            <?php if(!empty($content['author'])){ echo "<span>上传:".$content['author']."</span>"; }?>
        </div>
    </div>
    <div class="c-article">
        {$content['body']}
    </div>
</div>
<!-- 底部开始 -->
<include file="./Apps/Home/View/Public/footer.html" />