<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- 包含meta相关信息 -->
<include file="./Apps/Admin/View/Public/meta.html" />
<!-- 包含CSS样式和字体 -->
<include file="./Apps/Admin/View/Public/link.html" />
<!-- 包含加载页面文件 -->
<include file="./Apps/Admin/View/Public/loading.html" />
</head>

<body>
	<!-- 包含头部文件 -->
	<include file="./Apps/Admin/View/Public/header.html" />
	<div id="wrapper">
		<!-- 包含导航栏 -->
		<include file="./Apps/Admin/View/Public/nav.html" />
		<div id="content" class="clearfix">
			<div class="contentwrapper">
				<!--Content wrapper-->
				<div class="heading">
				
					<!-- 包含搜索框 -->
					<include file="./Apps/Admin/View/Public/search.html" />
					
					<!-- 面包屑轨迹 -->
					<include file="./Apps/Admin/View/Public/mbx.html" />
				</div>
				<!-- End .heading-->
				<!-- Build page from here: Usual with <div class="row-fluid"></div> -->


				<div class="row-fluid">

					<div class="span12">
						<form action="__APP__/Admin/Class/index/father_id/{$father_id}"
							method="post">
							<div class="row-fluid">
								<div class="span2 controls">
									<select name="type">
										<option value="all" selected="selected">所有类型</option>
										<option value="index">频道封面</option>
										<option value="list ">列表栏目</option>
										<option value="url">外部链接</option>
									</select>
								</div>
								<div class="input-append">
									<input class="span3" id="appendedInputButton" name="keyword"
										size="16" type="text" />
									<button class="btn" type="submit">Search!</button>
								</div>
							</div>
						</form>
						<div class="box">

							<div class="title">

								<h4>
									<span class="icon16 icomoon-icon-list-view"></span> <span>栏目管理</span>
									<span><a
										href="__APP__/Admin/Class/add/father_id/{$father_id}"
										title="添加栏目" class="tip e8-add">+添加栏目</a></span> <span><a
										href="__APP__/Admin/Class/tree" title="查看栏目结构图"
										class="tip e8-add">查看栏目结构图</a></span>
								</h4>
								<a href="#" class="minimize">Minimize</a>
							</div>
							<div class="content noPad">
								<table class="responsive table table-bordered" id="checkAll">
									<thead>
										<tr>
											<th>序号</th>
											<th>栏目ID</th>
											<th>栏目名称</th>
											<th>栏目类型</th>
											<th>内容模型</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<foreach name="classList" item="class">
										<tr>
											<td>{$key+1}</td>
											<td>{$class.class_id}</td>
											<td><a
												href="__APP__/Admin/Class/index/father_id/{$class.class_id}">{$class.name|searchReplaceKw=###,$keyword}</a></td>
											<td>{$class.type_name}</td>
											<td>{$class.channel_name}</td>
											<td>
												<div class="controls center">
													<a href="#" class="tip icomoon-icon-search-3" title="预览"></a>
													<a
														href="__APP__/Admin/Class/edit/class_id/{$class.class_id}/mw/{$class.mw}"
														title="修改" class="tip"><span
														class="icon12 icomoon-icon-pencil"></span></a> <a
														href="__APP__/Admin/Class/move/class_id/{$class.class_id}/mw/{$class.mw}"
														title="移动" class="tip"><span class="icomoon-icon-move"></span></a>
													
													<a href="javascript:deleteConfirm('__APP__/Admin/Class/del/class_id/{$class.class_id}/mw/{$class.mw}','确定删除该栏目信息吗？？？，删除后该栏目下所有文章将被删除！！！');" title="删除" class="tip"><span
														class="icon14 icomoon-icon-remove"></span>
														</a>
													
													<if
														condition="($class['type'] eq 'List') or ($class['type'] eq 'Index')">
													<a
														href="__APP__/Admin/Content/index/class_id/{$class.class_id}/mw/{$class.mw}"
														class="tip icomoon-icon-book" title="查看"></a> </if>
												</div>
											</td>
										</tr>
										</foreach>
									</tbody>
								</table>
							</div>

						</div>
						<!-- End .box -->
						<div class="pageBar">{$page}</div>
					</div>
					<!-- End .span6 -->

				</div>
				<!-- End .row-fluid -->

			</div>
			<!-- End contentwrapper -->
		</div>
		<!-- End #content -->

	</div>
	<!-- End #wrapper -->


	<!-- 包含JavaScript 文件 -->
	<include file="./Apps/Admin/View/Public/script.html" />


</body>
</html>
