<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>安徽财贸职业学院考试报名系统</title>
    
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/jquery-confirm/jquery.confirm.css">

    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- e8 style -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/main.css">
    
  </head>
  
  <body>
  
  	<div class="topbar">
    	
        <!-- 面包屑 -->
        <include file="./Apps/Admin/View/Include/mbx.html" />

        <div class="topbar-search">
        	<form class="form-inline" role="form">
            	<div class="form-group">
            		<label class="sr-only" for="exampleInputEmail2">Email address</label>
            		<input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="Enter email">
                    
                    <i class="fa fa-search color-gray"></i>
          		</div>
            </form>
        </div>
    </div><!-- /.topbar -->
    
    <div class="page-content">
    
        <div class="page-header col-sm-12">
        	<h1>管理员管理</h1>
        </div>
        
        <div class="col-sm-12">
			<div class="tabbable">
				<ul class="nav nav-tabs">
                    <if condition="$cancel neq 0">
                        <li><span><a href="__APP__/Role/index" class="e8-prompt" style="font-size:12px;">&lt;返回角色管理</a></span>&nbsp;&nbsp;&nbsp;</li>
                    </if>
					<li class="active">
						<a  href="#">管理员管理</a>
					</li>

					<li>
						<a  href="__APP__/User/add">添加管理员</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div  class="tab-pane in active">
                    
                    <p class="title background-blue">管理员列表</p>
						<table class="table table-hover">
                        	<thead>
                            	<tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>所属分组</th>
                                    <th>最后登陆IP</th>
                                    <th>最后登陆时间</th>
                                    <th>E-mail</th>
                                    <th>备注信息</th>
                                    <th class="align-center">管理操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="userArr" id="user" key="k">
                                    <tr>
                                        <td>#{$k}</td>
                                        <td>{$user.username}</td>
                                        <td>{$user.rolename}</td>
                                        <td>{$user.last_login_ip}</td>
                                        <td>{$user.last_login_time|date='Y/m/d h:i:s',###}</td>
                                        <td>{$user.email}</td>
                                        <td>{$user.remark}</td>
                                        <td class="align-center">
                                            <a href="__APP__/User/edit/id/{$user.id}/mw/{$user.mw}">修改</a>  |
                                            <a href="javascript:void(0);" onclick="return confirm('__APP__/User/del/id/{$user.id}/mw/{$user.mw}','确定删除?');">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
					</div>

                    <div class="pageBar">{$page}</div>

				</div>
			</div>
		</div><!-- /span -->
        
    </div><!-- /.page-content -->
    
  
    <!-- jQuery文件 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.js"></script>
    <script src="__PUBLIC__/e8admin/default/lib/jquery-confirm/jquery.confirm.js"></script>
    <!--  -->
	<script src="__PUBLIC__/e8admin/default/js/e8.js"></script>
    
  </body>
</html>
