
<!-- 底部开始 -->
<div class="footer">
  <div class="container">
    <div class="footer_content">
      <div class="footer_box footer_links col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>友情链接</h3>
        <ul class="links">
          <?php foreach($friendshipLinks as $friendshipLink):?>
            <li><a href="{$friendshipLink['url']}">{$friendshipLink['webname']}</a></li>
          <?php endforeach;?>
        </ul>
      </div>
      <div class="footer_box footer_logo col-lg-4 col-md-4 col-sm-4 hidden-xs">
        <img src="__PUBLIC__/com_home/icon/1.png">
      </div>
      <div class="footer_box about col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3>联系我们</h3>
        <ul>
          <li>地址：{$webInfo['ADDRESS']}</li>
          <li>联系人：{$webInfo['CONTACTS']}</li>
          <li>联系方式：{$webInfo['PHONE']}</li>
          <li>E-mail：{$webInfo['EMAIL']}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer_copy">
  <p>
    版权所有:{$webInfo['COPYRIGHT']}
    <a href="http://e8net.cn">E8net</a>
  </p>
</div>