<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- 包含meta相关信息 -->
<include file="./Apps/Admin/View/Public/meta.html" />
<!-- 包含CSS样式和字体 -->
<include file="./Apps/Admin/View/Public/link.html" />
<!-- 包含加载页面文件 -->
<include file="./Apps/Admin/View/Public/loading.html" />
</head>
      
    <body>
    <!-- 包含头部文件 -->
	<include file="./Apps/Admin/View/Public/header.html" />
	
    <div id="wrapper">
	<!-- 包含导航栏 -->
	<include file="./Apps/Admin/View/Public/nav.html" />

        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->

                <div class="heading">
                    <!-- 包含搜索框 -->
                    <include file="./Apps/Admin/View/Public/search.html" />
                    
                    <!-- 面包屑轨迹 -->
                    <include file="./Apps/Admin/View/Public/mbx.html" />
                </div><!-- End .heading-->

                <div class="row-fluid">

                        <div class="span12">

                            <div class="box">

                                <div class="title">

                                    <h4> 
                                        <span>编辑友情链接</span>
                                    </h4>
                                    
                                </div>
                                <div class="content">
                                   
                                    <form class="form-horizontal" action="__APP__/Admin/Flink/edit" method="post" enctype="multipart/form-data"> 
                                    	<input name="flink_id" value="{$flink.flink_id}" type="hidden" />
                                        <div class="form-row row-fluid">
                                            <div class="span12">
                                                <div class="row-fluid">
                                                    <label class="form-label span4" for="normal">链接名称</label>
                                                    <input class="span5" id="normalInput" type="text" name="webname" value="{$flink.webname}"/>
                                                </div>
                                            </div>
                                        </div>

                                      <div class="form-row row-fluid">
                                            <div class="span12">
                                                <div class="row-fluid">
                                                    <label class="form-label span4" for="normal">URL</label>
                                                    <input class="span5" id="normalInput" type="text" name="url" value="{$flink.url}"/>
                                                </div>
                                            </div>
                                        </div>

                                <div class="form-row row-fluid">
                                    <div class="span12">
                                        <div class="row-fluid">
                                            <label class="form-label span4" for="username">LOGO:</label>
                                          		 <a href="__PUBLIC__/upload/{$flink.logo}" rel="prettyPhoto" title="logo"> <img src="__PUBLIC__/upload/{$flink.logo}" alt="logo" class="image marginR10" width="120px" height="100px" title="logo" /></a>
                                            <input type="file" name="logo" id="file"/>
                                        </div>
                                    </div>
                           		 </div>
									 <div class="form-row row-fluid">
                                            <div class="span12">
                                                <div class="row-fluid">
                                                    <label class="form-label span4" for="normal">排序</label>
                                                    <input class="span2" id="normalInput" type="text" name="sort_index" value="{$flink.sort_index}"/>
                                                </div>
                                            </div>
                                        </div>
										<div class="form-actions">
                                           <span class="span4"></span>
                                           <button type="submit" class="btn btn-info">保存</button>
                                           <a href="javascript:cancelConfirm('__APP__/Admin/FlinkType/index','确定取消编辑并返回吗?');" class="btn">取消</a>
                                        </div>
                                    </form>                      
                                </div>

                            </div><!-- End .box -->

                        </div><!-- End .span6 -->
                        </div>
            </div><!-- End contentwrapper -->
        </div><!-- End #content -->
    
    </div><!-- End #wrapper -->
    
	<!-- 包含JavaScript 文件 -->
	<include file="./Apps/Admin/View/Public/script.html" />


    </body>
</html>
