<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<!-- 包含meta相关信息 -->
<include file="./Apps/Admin/View/Public/meta.html" />
<!-- 包含CSS样式和字体 -->
<include file="./Apps/Admin/View/Public/link.html" />
<!-- 包含加载页面文件 -->
<include file="./Apps/Admin/View/Public/loading.html" />
</head>

<body>
	<!-- 包含header文件 -->
	<include file="./Apps/Admin/View/Public/header.html" />
	<div id="wrapper">
		<!-- 包含导航栏文件 -->
		<include file="./Apps/Admin/View/Public/nav.html" />
		<!--Body content-->
		<div id="content" class="clearfix">
			<div class="contentwrapper">
				<!--Content wrapper-->

				<div class="heading">
				
					<!-- 包含搜索框 -->
					<include file="./Apps/Admin/View/Public/search.html" />

						<!-- 面包屑轨迹 -->
					<include file="./Apps/Admin/View/Public/mbx.html" />


				</div>
				<!-- End .heading-->

				<!-- Build page from here: Usual with <div class="row-fluid"></div> -->
				<div class="row-fluid">
					<div class="span12">
						<form action="__APP__/Admin/Log/index" method="post">
							<div class="row-fluid">
								<div class="input-append">
									<input class="span3" id="appendedInputButton" name="keyword"
										size="16" type="text" />
									<button class="btn" type="submit">Search!</button>
								</div>
							</div>
						</form>
						<div class="box">

							<div class="title">
								<h4>
									<span class="icon16  icomoon-icon-shield"></span> <span>日志管理</span>
								</h4>

							</div>
							<div class="content noPad">

								<table class="responsive table table-bordered" id="checkAll">
									<thead>
										<tr>
											<th id="masterCh" class="ch"><input type="checkbox"
												name="checkbox" value="all" class="styled"
												onclick='javascript:selectAll("log_id")' /></th>
											<th>序号</th>
											<th>管理员姓名</th>
											<th>内容</th>
											<th>时间</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<foreach name="logList" item="log" key="k">
										<tr>
											<td class="chChildren"><input type="checkbox"
												name="log_id" value="{$log.log_id}-{$log.mw}" class="styled" /></td>
											<td>{$k+1}</td>
											<td onclick="$('#modal{$k}').dialog('open');return false;">
												<a href="#">{$log.admin_name}</a>
											</td>
											<td>{$log.content}</td>
											<td>{$log.time}</td>
											<td>
												<div class="controls center">
												<a href="javascript:deleteConfirm('__APP__/Admin/Log/del/log_id/{$log.log_id}-{$log.mw}','确定删除该日志信息吗？？？');" title="删除" class="tip"><span
														class="icon14 icomoon-icon-remove"></span>
														</a>
												
											</td>
										</tr>
										</foreach>

									</tbody>
								</table>
							</div>

						</div>
						<!-- End .box -->
						<div class="pageBar">{$page}</div>
					</div>
					<!-- End .span6 -->
					<a href='javascript:btndel("__APP__/Admin/Log/del")' class='btn'>删除</a>
				</div>
				<!-- End .row-fluid -->

			</div>
			<!-- End contentwrapper -->
		</div>
		<!-- End #content -->

		<!-- 管理员日志详细对话框  dialog -->
		<div id="modalDialog">
			<foreach name="logList" item="log" key="k">
			<div id="modal{$k}" title="{$admin.account}--{$admin.name}"
				class="dialog">
				<p>管理员姓名:{$log.admin_name}&nbsp;&nbsp;&nbsp;&nbsp;
					内容：{$log.content}&nbsp;&nbsp;&nbsp;&nbsp; 时间:{$log.time}</p>

				<p style="max-height: 150px; over-flow: hidden;"></p>

			</div>
			</foreach>
		</div>

	</div>
	<!-- End #wrapper -->

	<!-- 包含JavaScript文件 -->
	<include file="./Apps/Admin/View/Public/script.html" />
</body>
</html>
