/*初始化*/
@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ffffff;
	font-family: 'Microsoft Yahei';
}
a{
	text-decoration: none;
	color: #333;
}
ul{
	list-style: none;
}
/*头部样式*/

.header{
	background-color: #fff;
}

.header .container{
	position: relative;
}

.header .logo{
	margin-top: 17px;
	float: left;
}

.header .logo img{
	float: left;
	width: 70px;
	height: 70px;
}

.header .logo .title{
	float: left;
	margin-left: 20px;
	color: #286090;
}

.header .search{
	position: absolute;
	right: 0;
	top: 39px;
	height: 35px;
}

.header .container .search input{
	padding: 7px;
	border-radius: 2px;
	color: #666;
	padding-right: 35px;
	box-sizing: border-box;
	outline: none;
	font-size: 14px;
	border: 1px solid #999;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.header .container .search .submit{
	cursor: pointer;
	width: 30px;
	height: 30px;
	text-align: center;
	position: absolute;
	right: 1px;
	top: 4px;
	color: #777;
	line-height: 30px;
	font-size: 16px;
}

.header .nav{
	min-height: 60px;
	width: 100%;
	background-color: #286090;
	font-family: 'Microsoft YaHei';
	box-shadow: 0 2px 2px #286090;
	margin-top: 25px;
}

.header .nav ul{
	padding: 0;
}

.header .nav li{
	float: left;
	list-style: none;
	line-height: 60px;
	position: relative;
}
.header .nav .active{
	background: #337ab7;
}
.header .nav .nav-link{
	color: #fff;
	padding: 10px 39px;
	font-size: 16px;
	text-decoration: none;
	margin: 0 10px;
}
.header .nav .sub-nav{
	background-color: #286090;
	position: absolute;
	top: 61px;
	width:100%;
	z-index: 99;
	display: none;
}
.header .nav .sub-nav a{
	color: #fff!important;
	line-height: 1.5;
	width: 100%;
	padding: 10px 0;
	padding-left: 45px;
	margin: 0;
	border: none!important;
	text-decoration: none;
	display: block;
	font-size: 16px;
}
.header .nav li:hover .sub-nav{
	display: block;
}
.header .nav .sub-nav a:hover{
	background: #337ab7;
}
/*尾部样式*/
.footer{
	width: 100%;
	min-height: 270px;
	background: #286090;
}
.footer .footer_content{
	margin-top: 20px;
	padding: 20px;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.footer_links .links li a, .about li {
	color: #e1e1e1;
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 15px;
}
.footer_links .links li{
	float: left;
	width: 33.33%;
	display: block;
	margin-bottom: 20px;
}
.footer .footer_logo{
	text-align: center;
}
.footer_logo img{
	margin-top: 20px;
}
.footer_logo h3{
	font-size: 18px;
}
.footer_copy p{
	text-align: center;
    background: #333;
    color: #ccc;
    font-size: 12px;
    min-height: 30px;
    line-height: 30px;
	margin-bottom: 0;
}
.footer_copy a{
	color: #fff;
}