@charset "UTF-8";
/*轮播图*/
.img_box{
	max-height: 450px;
}
.img_box .item img{
	width: 100%;
	max-height: 450px;;
}
.carousel{
	z-index: 1;
	position: relative;
}
.carousel-control{
	width: 10%;
	max-height: 450px;
}
/*主体*/
.body_content{
	margin-top: 10px;
}
.body_content a{
	text-decoration: none;
}
.box{
	background-color: #fff;
	padding:0 20px;
}
.box .title, .show_box .title {
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #286090;
    position: relative;
}
 .box .title h3, .show_box .title h3 {
    line-height: 60px;
    color: #525252;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.box .title .more, .show_box .title .more{
	position: absolute;
    right: 0;
    top: 5px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}
.box .content_box{
	overflow: hidden;
	padding: 10px 0px;
	height: 329px;
}
.notice .content_box, .feedback .content_box{
	padding: 0;
}
.content_box ul{
	margin-top: 10px;
	position: relative;
}
.content_box ul li{
	margin-bottom: 6px;
	height: 70px;
	border-bottom: 1px solid #DDDDDD;
}
.content_box ul li a{
	margin-top: 10px;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
/*通知公告*/

.notice ul li .data {
    margin-right: 15px;
    float: left;
    margin-left: 0px;
}
.notice ul li .data i, .notice ul li .data e {
    width: 55px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    height: 30px;
    background: #286090;
    display: block;
    color: #f1f1f1;
}
.notice ul li .data e {
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    background: #286090;
    margin-top: 1px;
}
.notice ul li a{
	padding-top: 5px;
}
/*中心简介*/
.introduce img{
	display: block;
    width: 100%;
    height: 170px;
}
.introduce h2{
	color: #333;
	font-size: 16px;
	margin: 10px 0 10px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 20px;
	font-family: 'Microsoft YaHei';
	font-weight: 700;
}
.introduce p{
	color: #666;
    display: -webkit-box!important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 1.8;
}
/*教学反馈*/
.feedback ul li a h4, .feedback ul li a p{
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	margin-top: 0;
	margin-bottom: 5px;
}
.feedback ul li a h4{
	font-weight: bold;
}
.feedback ul li a p{
	font-size: 14px;
	color: #666;
	margin: 0;
}
.feedback ul li span{
	background-image: url(../icon/shutiao.png);
	width: 4px;
	display: block;
	float: left;
	height: 20px;
	margin-right: 10px;;;
}
.feedback ul li .time{
	padding: 5px 15px;
}
.feedback .item{
	text-align: right;
	margin-top: 10px;
	font-size: 14px;
}
.feedback .item a{
	color: #286090;
	font-weight: 700;;
}
.modal-header {
	padding: 10px;
}
/*实验室一览*/
.show_content ul {
	min-height: 200px;
	overflow: hidden;
}
.show_content ul li {
	float: left;
	margin-bottom: 30px;
}
.show_content ul li img{
	width: 100%;
}

.show_box{
	margin-top: 30px;
}
.show_box_pic{
	margin-top: 20px;
	overflow: hidden;;;
}
.show_box ul{
	position: relative;
}
.show_box ul li a{
	display: block;
	position: relative;
	overflow: hidden;
}
.show_box ul li img{
	display: block;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
.show_box ul li .pic_title{
	position: absolute;
	width: 100%;
	bottom: -30px;
    transition: all .3s;
}
.show_box ul li .pic_title .mask{
	position: absolute;
    top: 0px;
    height: 100%;
    background-color: #000;
    opacity: .6;
	left: 0px;
	width: 100%;
}
.show_box ul li .pic_title p{
	color: #fff;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.show_box ul li:hover .pic_title {
	opacity: 1;
    bottom: 0;
}

p {
	margin: 0 0 10px;
}