<include file="./Apps/Home/View/Public/head.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/com_home/css/list.css">
<style>
    .right-crumbs {
        list-style: none; /* 将默认的列表符号去掉 */
        float: right; /* 往左浮动 */
        width: auto;
    }
    .right-crumbs li {
        float: left;
    }
</style>
<div class="banner"></div>
<div class="center">
    <!-- 左边导航开始 -->
    <div class="c-left">
        <div class="second-title">
            <?php if($class['father_id']==0){?>
            <h2><?php echo $class['name'];?></h2>
            <?php }else{?>
            <h2><?php echo $fatherClass['name'];?></h2>
            <?php }?>
        </div>
        <ul>
            <?php if(empty($allClass)) {?>
            <li><a href="javaScript:;"><?php echo $class['name'] ?><img src="__PUBLIC__/com_home/images/back.png"></a>
            </li>
            <?php }else{ ?>
            <volist name="allClass" id="vo">
                <li><a href="{:U($vo['index_template']['url'], ['id'=>$vo['class_id']])}"><?php echo $vo['name'] ?><img
                        src="__PUBLIC__/com_home/images/back.png"></a></li>
            </volist>
            <?php }?>
        </ul>
    </div>
    <!-- 左边导航结束 -->
    <!-- 右边列表开始 -->
    <div class="c-right">
        <div class="c-r-head">
            <h2>{$class['name']}</h2>
            <ul class="right-crumbs">
                <li><a href="{:U('Home/Index/index')}">首页</a>></li>
                <notempty name="fatherClass.name">
                    <li><a href="{:U($fatherClass['index_template']['url'], ['id'=>$fatherClass['class_id']])}">{$fatherClass['name']}</a>>
                    </li>
                </notempty>
                <li>{$class['name']}</li>
            </ul>
        </div>
        <div class="c-r-list">
            <ul>
                <?php if(empty($list)):?>
                <span>暂无数据</span>
                <?php else:?>
                <volist name="list" id="vo">
                    <li><a href="<?php echo U($class['content_template']['url'], ['id'=>$vo['content_id']]);?>"
                           title="{$vo['title']}">{$vo['title']}</a>
                        <span>{$vo['addtime']}</span>
                    </li>
                </volist>
                <?php endif;?>
            </ul>
        </div>
        <!--分页-->
        <div class="page_body">
            <nav aria-label="Page navigation" class="page-center">
                {$page}
            </nav>
        </div>
    </div>
    <!-- 右边列表结束 -->
</div>
<include file="./Apps/Home/View/Public/footer.html"/>
