<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/com_home/css/list.css">
<div class="banner"></div>
<div class="center">
<!-- 左边导航开始 -->
		<div class="c-left">
			<div class="second-title">
				<?php if($class['father_id']==0){?>
					<h2><?php echo $class['name'];?></h2>
				<?php }else{?>
					<h2><?php echo $fatherClass['name'];?></h2>
				<?php }?>
			</div>
			<ul>
                <?php if(empty($allClass)) {?>
                    <li><a href="javaScript:;"><?php echo $class['name'] ?><img src="__PUBLIC__/com_home/images/back.png"></a></li>
			    <?php }else{ ?>
                    <volist name="allClass" id="vo">
						<li><a href="{:U($vo['index_template']['url'], ['id'=>$vo['class_id']])}"><?php echo $vo['name'] ?><img src="__PUBLIC__/com_home/images/back.png"></a></li>
					</volist>
                <?php }?>
            </ul>
		</div>
<!-- 左边导航结束 -->
<!-- 右边列表开始 -->
		<div class="c-right">
			<div class="c-r-head">
				<h2>{$class['name']}</h2>
					<span><a href="{:U('Home/Index/index')}">首页></a>
						<?php if(empty($fatherClass['name'])){?>
						<?php echo $class['name'] ?>
				<?php }else{?>
					<a href="javaScript"><?php echo $fatherClass['name'] ?>></a><p><?php echo $class['name'] ?></p></span>
				<?php }?>
			</div>
			<div class="c-r-list">
				<ul>
					<?php if(empty($list)):?>
						<li>暂无数据</li>
					<?php else:?>
						<volist name="list" id="vo">
							<li><a href="<?php echo U($class['content_template']['url'], ['id'=>$vo['content_id']]);?>" title="{$vo['title']}">{$vo['title']}</a>
								<span>{$vo['addtime']}</span>
							</li>
						</volist>
					<?php endif;?>
				</ul>
			</div>
			<div class="page_body">
               <!--<ul>
                   <li><a href="javaScript:;"><<</a></li>
                   <li><a href="javaScript:;">1</a></li>
                   <li><a href="javaScript:;">2</a></li>
                   <li><a href="javaScript:;">3</a></li>
                   <li><a href="javaScript:;">4</a></li>
                   <li><a href="javaScript:;">5</a></li>
                   <li><a href="javaScript:;">>></a></li>
               </ul>-->
				{$page}
           </div>
		</div>
<!-- 右边列表结束 -->
	</div>
<include file="./Apps/Home/View/Public/footer.html" />