<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/com_home/css/list.css">
<!-- 头部结束 -->
<div class="banner"></div>
<div class="center">
    <!-- 左边导航开始 -->
    <div class="c-left">
        <div class="second-title">
            <h2>学科竞赛</h2>
        </div>
        <ul>
            <li><a href="javaScript:;">14年成果展示<img src="images/back.png"></a></li>
            <li><a href="javaScript:;">15年成果展示<img src="images/back.png"></a></li>
            <li><a href="javaScript:;">16年成果展示<img src="images/back.png"></a></li>
            <li><a href="javaScript:;">17年成果展示<img src="images/back.png"></a></li>
        </ul>
    </div>
    <!-- 左边导航结束 -->
    <!-- 右边列表开始 -->
    <div class="c-right">
        <div class="c-r-head">
            <h2>17年成果展示</h2>
            <span><a href="javaScript">首页</a><img src="images/back.png"><a href="javaScript">学科竞赛</a><img src="images/back.png"><p>17年成果展示</p></span>
        </div>
        <div class="c-r-list">
            <ul>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
                <li><a href="javaScript:;">关于2017年度学科竞赛项目立项申报通知</a><span>2017-08-04</span></li>
            </ul>
        </div>
        <div class="bottom">
            <ul>
                <li><a href="javaScript:;"><<</a></li>
                <li><a href="javaScript:;">1</a></li>
                <li><a href="javaScript:;">2</a></li>
                <li><a href="javaScript:;">3</a></li>
                <li><a href="javaScript:;">4</a></li>
                <li><a href="javaScript:;">5</a></li>
                <li><a href="javaScript:;">>></a></li>
            </ul>
        </div>
    </div>
    <!-- 右边列表结束 -->
</div>
<!-- 底部开始 -->
<include file="./Apps/Home/View/Public/footer.html" />