<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" href="__PUBLIC__/law_home/style/content.css">
<!-- big Img -->
<div class="big_img"></div>
<!-- content -->
<div class="content">
  <div class="container">
    <div class="hidden-xs col-lg-3 col-sm-3 col-md-3 left">
      <h2 class="title">文章搜索</h2>
      <ul>
          <!--<li><a href=""></a></li>-->
      </ul>
    </div>
    <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9 right">
      <div class="right_header">
        <ul class="breadcrumb">
          <li><a href="{:U('Home/Index/index')}">首页</a>/</li>
          <li class="active"><span>搜索结果</span></li>
        </ul>
      </div>
      <div class="right_main">
        <ul>
          <?php if(is_null($searchResult)):?>
          <li>暂无数据</li>
          <?php else:?>
          <foreach name="searchResult" item="vo" >
            <li>
              <a href="<?php echo U('Home/Content/index', ['id'=>$vo['content_id']]);?>" title="{$vo['title']}">{$vo['title']}</a>
              <span>{$vo['addtime']}</span>
            </li>
          </foreach>
          <?php endif;?>
        </ul>
        <!-- 分页 -->
        <div class="page_body">
          {$page}
        </div>
      </div>
    </div>
  </div>
</div>
<include file="./Apps/Home/View/Public/footer.html" />